In [94]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_squared_error
df = sns.load_dataset('diamonds')

In [95]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [96]:
df.drop(['depth', 'table', 'x', 'y', 'z'], axis=1, inplace=True)

In [97]:
df = pd.get_dummies(df, drop_first=True)

In [98]:
df['carat'] = np.log(1+df['carat'])
df['price'] = np.log(1+df['price'])

In [99]:
X = df.drop(columns="price")
y = df["price"]

In [100]:
df.head()

,carat,price,cut_Premium,cut_Very Good,cut_Good,cut_Fair,color_E,color_F,color_G,color_H,color_I,color_J,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.207014,5.789960,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False
1,0.190620,5.789960,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False
2,0.207014,5.793014,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,0.254642,5.814131,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
4,0.270027,5.817111,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.33)

In [102]:
params = {
    "loss": ["squared_error", "epsilon_insensitive"],
    "penalty": ["elasticnet"],
    "alpha": np.logspace(-3, 3, 10),
    "l1_ratio": np.linspace(0, 1, 10),
    "learning_rate": ["constant"],
    "eta0": np.logspace(-4, -1, 4),
    "max_iter": [1000],
    "tol": [1e-3]
}

In [103]:
# Создание и обучение модели
sgd = SGDRegressor(random_state=42)
grid = GridSearchCV(sgd, params, cv=5, scoring='neg_mean_squared_error')
grid.fit(X_train, y_train)

# Предсказание и оценка
best_model = grid.best_estimator_
y_pred = best_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

print(round(mse, 3))

0.044

c:\phython\Lib\site-packages\numpy\ma\core.py:2892: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,